<!DOCTYPE html>
<html lang="en">
	
	

<head>
	<meta charset="UTF-8">
	<title>Application </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="main.css">

	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
</head>

<body>
	<div id="app">
		<div v-if="path==1">
			<nav class="navbar  navbar-default navbar-fixed-top">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" @click="openNav()" data-toggle="collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Brand</a>
					<form class="form-mobile-search" id="navBarSearchFormMobile">
						<div class="form-group mobile-search-input">
							<div class="input-group">
								<span class="input-group-btn">
									<input type="text" class="form-control" placeholder="Search Jobs By Keyword">

									<button class="btn button-search-mobile btn-green" type="button"><i class="glyphicon glyphicon-search glyphicon-search-mobile"></i></button>
								</span>
							</div>
						</div>
					</form>
				</div>
				<!-- Collection of nav links, forms, and other content for toggling -->
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav sidenav links">
						<li class=""><a href="#">Home</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Departments</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search" id="navBarSearchForm">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search Jobs By Keyword">
								<span class="input-group-btn">
									<button class="btn button-search btn-green" type="button"><i class="glyphicon glyphicon-desktop glyphicon-search"></i></button>
								</span>
							</div>
						</div>
					</form>
					<ul class="nav navbar-nav justify-items-en ">
						<button class="btn folder-button btn-green" type="button"><i class="glyphicon glyphicon-lock"></i></button>
					</ul>
				</div>
			</nav>z
			<div id="myNav" class="overlay">
				<!-- Button to close the overlay navigation -->
				<a href="" class="closebtn" @click="closeNav()">&times;</a>
				<div class="side-nav-bar-cont">
					<!-- Overlay content -->
					<div class="overlay-content side-main-cont">
						<a href="#">Home</a>
						<a href="#">Jobs</a>
						<a href="#">About</a>
						<a href="#">Department</a>
					</div>
					<div class="overlay-content side-sub-content">
						<a href="#">FAQ</a>
						<a href="#">Application Process</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Contat</a>
					</div>
				</div>
			</div>
			<div class="text">
				<h3>PURCHASING ASSISTANT</h3>
				<h4>AMSTERDAM, THE NETHERLANDS</h4>
			</div>
			<div class="title">
			</div>
			<div class="container-fluid sub">
				<div class="subtitle">
					<h4>APPLY FOR THE POSITION OF PURCHASING ASSISTANT </h4>

					<div v-if="errors.length">
						<b>Please correct the following error(s):</b>
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="extened-container">
				<form id="ref_form" @submit="checkForm" action="https://vuejs.org/" method="post" novalidate="true">

					<div class="container" id="form">

						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<input v-model="name" class="form-control  has-success  has-feedback" style="" id="name" name="name" placeholder="Name" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="name-icon"></i>
							</div>
							<div class="col-lg-6 col-sm-6">
								<input class="form-control form-up" id="surname" v-model="surname" name="surname" placeholder="Surname" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="surname-icon"></i>
							</div>
						</div>
						<div class="row  move-inputs">
							<div class="col-lg-6 col-sm-6">
								<input class="form-control" v-model="tel" name="tel" id="tel" placeholder="Phone Number" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="tel-icon"></i>
							</div>
							<div class="col-lg-6 col-sm-6 ">
								<input class="form-control form-up" id="email" v-model="email" name="email" placeholder="Email" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="email-icon"></i>
							</div>
						</div>
						<div class="row  move-inputs">
							<div class="col-sm-6">
								<input class="form-control form-up " id="post" v-model="post" name="post" placeholder="Post Code" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="post-icon"></i>
							</div>
							<div class="col-lg-6 col-sm-6 col-xsm-6">
								<input class="form-control form-up " id="country" v-model="country" name="country" placeholder="Country" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="country-icon"></i>
							</div>
						</div>
						<div class="row move-inputs">
							<div class="col-sm-6">
								<input class="form-control " id="city" v-model="city" name="city" placeholder="City" type="text">
								<i class="fa fa-check form-icon" style="display:none;" id="city-icon"></i>
							</div>
							<div class="col-lg-6 col-sm-6 col-xsm-6">
								<input class="form-control form-up" id="date" v-model="date" name="date" placeholder="date" type="date">
								<i class="fa fa-check form-icon" style="display:none;" id="date-icon"></i>
							</div>
						</div>
						<div class="col-lg-6 comments " id="motivation-block">
							<label for="comment">Your Motivation *</label>
							<textarea v-model="motivation" rows="4" cols="50" class="form-control"  id="motivation"></textarea>
							<i class="fa fa-check form-icon" style="display:none;" id="motivation-icon"></i>
						</div>
						<div class="col-sm-12 col-lg-6 but">
							<div class="col-sm-12 col-lg-12 form-butt">
								<div class="row ">
									<div class="col-sm-4 col-lg-4">
										<label>Resume</label>
										<span id="files_checked-resume" style="display:none" class="glyphicon glyphicon-ok"></span>
									</div>
									<div class="col-sm-8 col-lg-8 gdrive">
										<div class="col-sm-6 col-xs-6 col-md-6 comments">
											<div class="btn-file button button_up" type=button><img src="icons8-monitor-filled-500.png" />
												UPLOAD <input type="file" accept=".txt, .pdf, .rtf, .docx" ref="file1" id="upload-photo" />
											</div>
										</div>
										<div class="col-sm-6 col-xs-6 col-md-6 comments">

											<button type="button" class="btn btn-default btn-file button" @click="loadPicker()"><img src="Google-Drive-icon.png" width="30" height="30" />GOOGLE</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 form-butt">
								<div class="row ">
									<div class="col-sm-4">
										<label>Portfolio</label>
										<span id="files_checked-port" style="display: none;" class="glyphicon glyphicon-ok"></span>
									</div>
									<div class="col-sm-8 gdrive">
										<div class="col-sm-6 col-xs-6 col-md-6 comments">
											<div class="btn-file button button_up"><img src="icons8-monitor-filled-500.png" />
												UPLOAD <input type="file" accept=".txt, .pdf, .rtf, .docx" ref="file2" id="upload-photo" />
											</div>
										</div>
										<div class="col-sm-6 col-xs-6 col-md-6 comments">

											<button type="button" class="btn btn-default btn-file button" @click="loadPicker()"><img src="Google-Drive-icon.png" width="30" height="30" />GOOGLE</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 form-butt">
								<div class="row ">
									<div class="col-sm-4">
										<label>Photo</label>
										<span id="files_checked_photo" class="glyphicon glyphicon-ok" style="display:none"></span>
									</div>
									<div class="col-sm-8 gdrive">
										<div class="col-sm-6 col-xs-6 col-md-6 comments">
											<div class="btn-file button button_up"><img src="icons8-monitor-filled-500.png" />
												UPLOAD <input type="file" accept=".txt, .pdf, .rtf, .docx" ref="file" accesskey="" id="upload-photo" />
											</div>
										</div>
										<div class="col-sm-6 col-xs-6 col-md-6 comments">

											<button type="button" class="btn btn-default btn-file button" @click="loadPicker()"><img src="Google-Drive-icon.png" width="30" height="30" />GOOGLE</button>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-6 col-sm-4 col-xs-4 comments" style="padding-top: 15px;">
							<button class="back-button" @click="goBack()"> &#8592; Back to job description </button>
						</div>
						<div class="col-lg-6 col-sm-8 col-xs-8 comments" style="padding-top: 15px;">
							<div class="col-sm-6 col-xs-4 col-md-4 comment">
								<input type="checkbox" name="vehicle1" value="Bike"> Send me a copy
							</div>
							<div class="col-sm-6 col-xs-8 col-md-8 comments ">
								<button type="Submit" @click="checkForm()" value="submit" class="btn btn-default btn-file button apply">Apply for the job</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="title-sec container-fluid">
				<div class="dad">

					<div class="procedure col-md-6 col-xsm-12 col-sm-6 ">

						<h3 class="procedure-title">APPLICATION PROCEDURE</h3>
						<ul>
							<li>Lorem Ipsum is simply dummy text ofdsvsvddd the printing and typesetting </li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						</ul>
					</div>
					<div class="contact col-md-6 col-sm-4 col-xsm-12  col-sm-12">
						<h3 class="procedure-title">GOT A QUESTION?</h3>
						<ul>Pleace contact reqruitment</ul>
						<ul>Pleace contact reqruitment</ul>
						<ul>Pleace contact reqruitment</ul>
					</div>
				</div>
				<button type="button" class="btn btn-primary  back-top" @click="topFunction"><span class="glyphicon glyphicon-arrow-up "></span></button>
			</div>
			<footer class="page-footer font-small blue pt-4">
				<!-- Footer Links -->
				<div class="container-fluid text-center text-md-left">
					<!-- Grid row -->
					<div class="row footer-cont">
						<!-- Grid column -->
						<div class="col-md-3 col-sm-3 col-xs-12 jobs">
							<!-- Links -->
							<h5 class="text-uppercase">Jobs At</h5>
							<ul class="list-unstyled">
								<li>
									<a href="#!">Home</a>
								</li>
								<li>
									<a href="#!">Jobs</a>
								</li>
								<li>
									<a href="#!">About</a>
								</li>
								<li>
									<a href="#!">Department</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 infos">
							<!-- Links -->
							<h5 class="text-uppercase">Information</h5>
							<ul class="list-unstyled">
								<li>
									<a href="#!">FAQ</a>
								</li>
								<li>
									<a href="#!">Application Process</a>
								</li>
								<li>
									<a href="#!">Privacy Policy</a>
								</li>
								<li>
									<a href="#!">Contact</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="social">
								<!-- Links -->
								<h5 class="text-uppercase">Links</h5>
								<ul class="list-unstyled">
									<li>
										<i class="fa fa-envelope"></i>
										<label>Newsletter</label>
									</li>
									<li>
										<i class="fa fa-instagram"></i>
										<label>Instagram</label>
									</li>
									<li>
										<i class="fa fa-twitter"></i>
										<label>Twitter</label>
									</li>
									<li>
										<i class="fa fa-tumblr"></i>
										<label>Tumblr</label>
									</li>
									<li>
										<i class="fa fa-linkedin"></i>
										<label>Linkedin</label>
									</li>
									<li>
										<i class="fa fa-facebook"></i>
										<label>facebook</label>
									</li>
									<li>
										<i class="fa fa-pinterest"></i>
										<label>Printerest</label>
									</li>
									<li>
										<i class="fa fa-youtube"></i>
										<label>Youtube</label>
									</li>
									<li>
										<i class="fa fa-google"></i>
										<label>Google +</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<!-- Links -->
							<h5 class="text-uppercase">JOB ALERT</h5>
							<ul class="list-unstyled">
								<li>
									<a href="#!"></a>
								</li>
								<li>
									<a href="#!">Subscribe to our job alert!</a>
								</li>
							</ul>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
				<!-- Footer Links -->

			</footer>

			<!-- Footer -->
		</div>
		<div v-if="path==0">
			<nav class="navbar  navbar-default navbar-fixed-top">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button @click="openNav()" type="button" data-toggle="collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Brand</a>
					<form class="form-mobile-search" id="navBarSearchFormMobile">
						<div class="form-group mobile-search-input">
							<div class="input-group">
								<span class="input-group-btn">
									<input type="text" class="form-control" placeholder="Search Jobs By Keyword">

									<button class="btn button-search-mobile btn-green" type="button"><i class="glyphicon glyphicon-search glyphicon-search-mobile"></i></button>
								</span>
							</div>
						</div>
					</form>
				</div>
				<!-- Collection of nav links, forms, and other content for toggling -->
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav sidenav links">
						<li class=""><a href="#">Home</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Departments</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search" id="navBarSearchForm">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search Jobs By Keyword">
								<span class="input-group-btn">
									<button class="btn button-search btn-green" type="button"><i class="glyphicon glyphicon-desktop glyphicon-search"></i></button>
								</span>
							</div>
						</div>
					</form>
					<ul class="nav navbar-nav justify-items-en ">
						<button class="btn folder-button btn-green" type="button"><i class="glyphicon glyphicon-lock"></i></button>
					</ul>
				</div>
			</nav>
			<div id="myNav" class="overlay">
				<!-- Button to close the overlay navigation -->
				<a href="" class="closebtn" @click="closeNav()">&times;</a>
				<div class="side-nav-bar-cont">
					<!-- Overlay content -->
					<div class="overlay-content side-main-cont">
						<a href="#">Home</a>
						<a href="#">Jobs</a>
						<a href="#">About</a>
						<a href="#">Department</a>
					</div>
					<div class="overlay-content side-sub-content">
						<a href="#">FAQ</a>
						<a href="#">Application Process</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Contat</a>
					</div>
				</div>
			</div>
			<div class="text">
				<h3>THE NETHERLANDS RETAIL</h3>
				<h4>NOVEMBER 10 2015</h4>
			</div>
			<div class="title">
			</div>
			<div class="container-fluid sub">
				<div class="subtitle">
					<h2>RETAIL DEVELOPMENT COORDINATOR </h2>
				</div>
			</div>
			<div class="container-fluid job-details">
				<div class="job-details-content">
					<h4>Job Descritpion</h4>
					The Retail Development Project Coordinator will work with our Retail Development Department, with a focus on supporting the Design, Construction, Boutique Care (facilities) and Real Estate Teams. They will support with general tasks associated with new store & remodel construction projects. With 230+ stores in the US and Canadian, this position provides ample opportunity to develop skills related to design, construction, real estate and maintenance.
					<h4>Tasks and responsibilities</h4>
					<ul>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
					</ul>

					<ul>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
					</ul>
					<h4>Profile</h4>
					<ul>
						<li>Expertise in MS Office, primarily Word, Excel, Outlook, and PowerPoint. </li>
						<li>Excellent verbal and written communication skills. </li>
						<li>Proven ability to multi-task and prioritize.</li>
						<li>Ability to follow directions, become a team player and be enthusiastic. </li>
						<li>Familiarity with construction contracts and negotiations.</li>
						<li>Familiarity with Commercial Leases and construction contracts. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
					</ul>
					<div class="col-sm-10 col-xs-10 col-md-8 col-lg-8">
						<button type="button" class="btn btn-default btn-file button" @click="page2()">APPLY NOW</button>
					</div>
					<div class="col-sm-2 col-xs-2 col-md-4 col-lg-4">
						<button type="button" class="btn btn-light"><span class="glyphicon glyphicon-briefcase "></span></button>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-2">
						<h5>Share this job</h5>
					</div>
					<div class="col-sm-8 col-xs-12 col-md-10">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-facebook"></i>
						<i class="fa fa-linkedin"></i>
						<i class="fa fa-google"></i>
						<i class="fa fa-envelope"></i>
						<i class="fa fa-print"></i>
					</div>
				</div>
				<div class="list-of-jobs">
					<div class="others-jobs">
						<h4>OTHER JOBS IN RETAIL</h4>
					</div>
					<div class="position">
						<h3>RETAIL AREA MANAGER</h3>
						<h6>Amsterdam,Netherlands</h6>
					</div>
					<div class="no-list-jobs"></div>
					<h3>NOTHING FOUND</h3>
					<h6>Sign Up for a career alert</h6>
				</div>
				<div class="about ">
					<h3 class="about-title">ABOUT THE DEPARTMENT</h3>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					<div v-if="seen">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
					<button type="button" class="reading-btn" v-on:click="seen = !seen">Continue Reading</button>
				</div>
				<div class="title-sec container-fluid">
					<div class="dad1">
						<div class="">
							<iframe class="myvideo" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1" cl>
							</iframe>
						</div>
					</div>
					<button type="button" class="btn btn-primary  back-top" @click="topFunction"><span class="glyphicon glyphicon-arrow-up "></span></button>
				</div>
				<footer class="page-footer font-small blue pt-4">
					<!-- Footer Links -->
					<div class="container-fluid text-center text-md-left">
						<!-- Grid row -->
						<div class="row footer-cont">
							<!-- Grid column -->
							<div class="col-md-3 col-sm-3 col-xs-12 jobs">
								<!-- Links -->
								<h5 class="text-uppercase">Jobs At</h5>
								<ul class="list-unstyled">
									<li>
										<a href="#!">Home</a>
									</li>
									<li>
										<a href="#!">Jobs</a>
									</li>
									<li>
										<a href="#!">About</a>
									</li>
									<li>
										<a href="#!">Department</a>
									</li>
								</ul>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12 infos">
								<!-- Links -->
								<h5 class="text-uppercase">Information</h5>
								<ul class="list-unstyled">
									<li>
										<a href="#!">FAQ</a>
									</li>
									<li>
										<a href="#!">Application Process</a>
									</li>
									<li>
										<a href="#!">Privacy Policy</a>
									</li>
									<li>
										<a href="#!">Contact</a>
									</li>
								</ul>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="social">
									<!-- Links -->
									<h5 class="text-uppercase">Links</h5>
									<ul class="list-unstyled">
										<li>
											<i class="fa fa-envelope"></i>
											<label>Newsletter</label>
										</li>
										<li>
											<i class="fa fa-instagram"></i>
											<label>Instagram</label>
										</li>
										<li>
											<i class="fa fa-twitter"></i>
											<label>Twitter</label>
										</li>
										<li>
											<i class="fa fa-tumblr"></i>
											<label>Tumblr</label>
										</li>
										<li>
											<i class="fa fa-linkedin"></i>
											<label>Linkedin</label>
										</li>
										<li>
											<i class="fa fa-facebook"></i>
											<label>facebook</label>
										</li>
										<li>
											<i class="fa fa-pinterest"></i>
											<label>Printerest</label>
										</li>
										<li>
											<i class="fa fa-youtube"></i>
											<label>Youtube</label>
										</li>
										<li>
											<i class="fa fa-google"></i>
											<label>Google +</label>
										</li>
									</ul>
								</div>
							</div>

							<!-- Grid column -->
							<div class="col-md-3 col-sm-3 col-xs-12">
								<!-- Links -->
								<h5 class="text-uppercase">JOB ALERT</h5>
								<ul class="list-unstyled">
									<li>
										<a href="#!"></a>
									</li>
									<li>
										<a href="#!">Subscribe to our job alert!</a>
									</li>
								</ul>
							</div>
							<!-- Grid column -->
						</div>
						<!-- Grid row -->
					</div>
					<!-- Footer Links -->

				</footer>

				<!-- Footer -->
			</div>



		</div>
	</div>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
	<script src="main.js"></script>

</body>


</html>
