
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

 * {
            font-family: 'Open Sans';
  
        }

h3{
	font-weight: 1000;
}

h4{
	font-weight:700;
}

/*nav bar configutration*/
.links {
	position: absolute;
	left: 200px;
}

nav .navbar-nav li a:hover {
	text-decoration: underline;
}

.navbar.navbar-default {
	border: 0;
	border-radius: none;
	background-color: black;

}

.navbar-inverse .navbar-brand {
	color: white;
}

nav .navbar-nav li a {
	color: white !important;
}

.form-control {
	border: 0;
}

#navBarSearchForm input[type=text] {
	width: 330px !important;
	border: 0;
	border-radius: 0;

}

.navbar {
	border-radius: 0;
}

.glyphicon-desktop {
	font-size: 10px;
	border: none;
	border-radius: 0;
}

.form-mobile-search {
	display: none;
}

.button-search {
	border: none;
	border-radius: 0;
	right: 119%;
}

.folder-button {
	background: black;
	color: white;
	position: absolute;
	right: 0%;
	top: 15%;
}
/*end nav bar configuration*/

#mySidenaadasd {
	display: none;
}

.navbar-brand {
	left: 3%;
	position: absolute;
}

.navbar-default .navbar-brand {
	color: white;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;

  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size:;
  color: #818181;
  display: block; /* Display block instead of inline */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  bottom: 500px;
  right: 45px;
  font-size: 60px;
}
/*   end nav bar configuration*/
.title, .title-sec {
	background-image: url(rawpixel-250087-unsplash.jpg);
	background-repeat: round;
	height: 50vh;
	filter: grayscale(80%);
	-webkit-filter: grayscale(100%);
	margin-top: 50px;
	background-attachment: fixed;
		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top:1px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	}
.text {
	color: white !important;
	font-size: 20px;
	position: absolute;
	top: 31%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 60%;
	background-color: black;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	z-index: 1;
}

.subtitle {
	width: 59%;
	margin: 0 auto;
	background-color: whitesmoke;
}

.sub {
	background-color: whitesmoke;
}

#form {
	width: 60%;
	margin: 0 auto;
}

.form-control {
	border-radius: 0;
}

.comments {
	padding-left: 0;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.form-butt {
	padding-top: 15px;
	padding-right: 0;
}

.extened-container {
	padding-top: 50px;
	background: whitesmoke;
	padding-bottom: 50px
}

.labelss {
	text-align: center;
}

.move-inputs {
	padding-top: 15px;
}

.contact,
.procedure {
	background: white;
}

.footer-cont {
	margin: 0 auto;
	width: 60%;
	padding: 30px;
	text-align: left;
}

i.fa {
	display: inline-block;
	border-radius: 60px;
	-webkit-box-shadow: 0px 0px 2px #888;
	        box-shadow: 0px 0px 2px #888;
	padding: 0.5em 0.6em;
}

.dad {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: white;
	width: 60%;
	margin: 0 auto;
}

.dad ul {
	font-size: 11px;
}

.back-button {
	border: none;
	font-size:10px;
	background-color: whitesmoke;
}



.procedure-title {
	margin-left: 30px;
}

.app_title {
	font-size: 20px;
}

.form-icon {
	color: green;
	border-radius: 14px;
	position: absolute;
	top: 3px;
	right: 23px;
	-webkit-box-shadow: 0px 0px 0px #888;
}

.button_up:hover{
	background-color: gr;
}

#files_checked {
	display: none;
}

.back-top {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	color: black;
	border-radius: 0;
	width: 100px;
	border: 0;
}


.button {
	width: 100%;
	background-color: #1500ff;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	border-radius: 0;
}

#files_checked1 {
	float: right;
}

.button_gd {
	padding: 10px;
}

.but {
	padding-left: 0;
	padding-right: 0;
}

.gdrive {
	padding-right: 1px;
	padding-left: 1px;
}

.button_up {
	height: 40px;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}

.social li{
	
	margin-bottom: 10px;
}

.social{
	font-size:10px;

}

.job-details-content {
			width: 60%;
	margin: 0 auto;
}


.title-sec{
   border-bottom: 2px black #f6f6f6;
}

.apply {
	height: 40px;
	font-size: 13px;
}

.side-sub-content a{
	font-size: 15px;
}

.side-main-cont a{
	font-size: 25px;
}

.job-details {
	background-color: whitesmoke;
}



.list-of-jobs {
margin: 0 auto;
    margin-top: 104px;
    text-align: center;
}

.social li{
		margin-top:10px;
	}

.dad1{
width: 60%;
    margin: 0 auto;
}

.comment {
		padding-left: 0;
}

.myvideo {
	
	    height: 287px;
    width: 100%;
	
}

.about {
	width:60%;
	margin:0 auto;
	margin-bottom:20px;
	text-align: justify;
}

.reading-btn {
	    border: none;
    background: whitesmoke;
	margin-top: 5px;
	font-weight: 600;
}

.about-title{
		text-align: center;
	}
#motivation-icon {
	margin-top: 50px
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
 { .overlay .closebtn {

  bottom: 560px;

}}

@media only screen and (max-width: 769px) {
	body {
		background-color: ;
	}

	#mySidenaadasd {
		display: block;
	}

	.navbar-brand {
		position: absolute;
		margin-left: 50px;
		top: 2%;
}

	.navbar-toggle {
		position: absolute;
		margin-left: 5px;

	}

	.form-mobile-search {
		display: inline-block;
	}


	.navbar-default {
		height: 100px;
		z-index: 1;
	}

	#navBarSearchFormMobile input[type=text] {
		position: absolute;
		width: 98% !important;
		left: 1%;
		border: 0;
		border-radius: 0;
	}


	.navbar-toggle {
		border: none;
	}

	.navbar-toggle .icon-bar {
		display: block;
		width: 24px;
		height: 4px;
		/* border-radius: 1px; */
	}

	.mobile-search-input {
		position: absolute;
		bottom: 0%;
	}

	.button-search-mobile {
		float: right;
		right: 2%;
	}
	
	.side-nav-bar-cont {
	    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	height: 100%;
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
	
	.title {
		display: none;
	}

	.text {
		z-index: 0;
		width: 100%;
		top: 17%;
		position: absolute;
		top: 142px;
		background-color: white;
    color: black !important;
	}


	.extened-container {
		background: whitesmoke;
	}

	.dad {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		padding: 0;
	}
	
	.dad1 {

	width: 100%;
	}

	#form {
		width: 100%;
}

	.form-up {
		margin-top: 10px;
	}

	.sub {
		margin-top: 185px;
	}

	.subtitle {
		width: 100%;
	}
	
	.infos, .jobs{
		display: none;
	}
	
	.social{
	font-size:10px;
	-webkit-columns:1;
	        columns:1
}
	
	.title-sec{
		width: 100%;
/*		display: none;*/
	}
	
	.back-top{
		display: none;
	}
	
	.job-details-content {
			width: 100%;
	margin: 0 auto;
		text-align: justify;
}
	
	.list-of-jobs {
    margin-top: 130px;
    text-align: center;
    width: 100%;
}
	
	
	
.position{
line-height: 1px;
	
}
	
	.social li{
		margin-top:10px;
	}


.others-jobs {
	border-bottom: solid 1px gray;
	    border-top: solid 1px gray;
}


.no-list-jobs {
	line-height: 1px;
	border-top: solid 1px gray;
	margin-top:10px;
	
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

	.about{
	
		    width: 100%;
    text-align: justify;
    border-top: solid 1px black;
			
		}

	
}








#motivation-block {
		padding-top: 10px;

}
